* {
  margin: 0;
}

body {
  background-color:#eee;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.2s, color 0.2s;
}

body.dark-mode{
  background-color: rgb(42, 42, 42);
  color: white;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  width: 350px;
  height: 320px;
}

.top-buttons {
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
}

.top-buttons button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: none;
  font-weight: bold;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.top-buttons button.active {
  background-color: lightskyblue;
}

form {
  display: none;
}

form.active {
  display: block;
}

.submit {
  background-color: lightskyblue;
  font-weight: bold;
  border: none;
  color: black;
  width: 100%;
  height: 50px;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 93%;
  height: 30px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

.dark-mode-btn {
  background-color: rgba(123, 122, 122, 0.3);
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dark-mode-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.submit:hover {
  background-color: #669dd9;
}

.registration-form:hover {
  background-color: #d2d2d2;
}

.login-form:hover {
  background-color: #d2d2d2;
}