* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color:#f4f6f8;
  color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.2s, color 0.2s;
}

body.dark-mode{
  background-color: rgb(42, 42, 42);
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  width: 400px;
  height: 450px;
}

body.dark-mode .form-container {
  background-color: rgb(81, 81, 81);
  color: white;
}

body.dark-mode form input {
  background-color: rgb(106, 106, 106);
  color: white;
}

body.dark-mode .top-buttons button {
  background-color: rgb(106, 106, 106);
  color:white;
  transition: background-color 0.2s;
}

body.dark-mode form input[type="submit"] {
  background-color: rgb(185, 185, 185);
  color: rgb(92, 92, 92);
}

body.dark-mode .top-buttons button:hover {
  background-color: rgb(185, 185, 185);
}

body.dark-mode form input[type="submit"]:hover {
  background-color: rgb(150, 150, 150);
}

body.dark-mode .dark-mode-btn {
  background-color: #555;
  color: white;
}

body.dark-mode .dark-mode-btn:hover {
  background-color:rgb(136, 136, 136);
}

body.dark-mode .top-buttons button.active{
  background-color: rgb(151, 151, 151);
}

.top-buttons {
  display: flex;
  justify-content: left;
  margin-bottom: 0px;
}

.top-buttons button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color:#3b82f6;
  cursor: pointer;
  transition: background-color 0.2s;
  color: white;
  font-size: 1rem;
  border: none;
}

.top-buttons button.active {
  background-color: #193684;
}

form {
  display: none;
  flex-direction: column;
  height: 100%;
}

form.active {
  display: flex;
}

.submit {
  margin-top: auto;
  background-color: #14dd9a;
  font-weight: bold;
  border: none;
  color: black;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 93%;
  height: 35px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #e5e7eb;
}

label {
  font-size: small;
}

#login_email.email_error {
  border: 2px red solid;
}

#registration_email.email_error {
  border: 2px red solid;
}

#registration_password.password_error, #registration_password_confirmation.password_error {
  border: 2px red solid;
}

.dark-mode-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease, color 0.3s ease;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.dark-mode-btn:hover {
  background-color: #1e40af;
}

.submit:hover {
  background-color: #10b981;
}

.registration-form:hover {
  background-color: #60a5fa;
}

.login-form:hover {
  background-color: #60a5fa;
}