* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(circle at center, rgb(73, 118, 172), rgb(55, 55, 55));
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login{
    background: rgba(24, 15, 67, 0.464);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 10px 15px 30px rgb(0, 0, 0);
    width: 380px;
    height: 380px;
    backdrop-filter: blur(1px);
}
.login h2{
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
   
}

.login label{
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 11px;
}

.login input[type="text"],
.login input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #333232;
  border-radius: 20px;
  box-sizing: border-box;
  margin-left: 12px;
  background-color: #333232;
  color: aliceblue;

}

.login_btn {
  margin-top: 7px;
  background-color: rgba(42, 147, 84, 0.641);
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.registration_btn{
  margin-top: 7px;
  background-color: rgb(114, 65, 220);
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.login_btn:hover {
  background-color: rgb(51, 144, 98);
}

.registration_btn:hover {
  background-color: rgb(134, 63, 177);
}