/* Base styles */
body {
  font-family: helvetica;
  margin: 0;
  padding: 2rem;
  background-color: #ffffff;
  color: #111111;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #111111;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode button {
  background-color: #333333;
  color: #f0f0f0;
}
