body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at center, rgb(73, 118, 172), rgb(55, 55, 55));

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.register-form{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 30, 80;
    box-shadow: 10px 15px 30px rgb(0, 0, 0);
    width: 360px;
    height: 400px;
    backdrop-filter: blur(1px);
}
.register-form h2{
    margin-bottom: 45px;
    text-align: center;
    color: #ffffff;
   
}

.register-form label{
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 10px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #333232;
  border-radius: 20px;
  box-sizing: border-box;
  margin-left: 18px;
  background-color: #333232;
  color: aliceblue;

}

.register-form button {
  width: 100%;
  padding: 12px;
  background-color: #1ac620;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  border: solid black;
}

.register-form button:hover {
  background-color: #26972b;
}