body {
    background-color: rgb(187, 178, 242);
}

.header {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: rgba(48, 44, 44, 0.571);
    color: white;
}

header h1 {
    text-align: left;
}

.logo {
    color: white;
    padding: 35px;
    font-size: 40px;
    text-decoration:  none;
    font-weight: 600;
}

.header-buttons {
    margin-left:auto;
    padding: 55px 0 0 0;
    margin-right: 30px;
    gap: 30px;
    display: flex;
}

.header-buttons a {
    color: white;
    text-decoration:  none;
}


.acc-menu {
    position: relative;
    display: flex;
}

.drop {
    display: none;
    background-color: white;
    color: black;
    border-radius: 8px;
    position: absolute;
    left:0 ;
    top: 100%;
    width: 80px;
    z-index: 100;
}

.drop a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-decoration: none;
}

.header-buttons {
    cursor: pointer;
}

.show {
    display: block;
}

.drop a:hover {
    background-color: #ccccccb7;
    color: black;
    border-radius: 8px;
}