.header {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: black;
    color: white;
}

header h1 {
    text-align: left;
}

.logo {
    color: white;
    padding: 35px;
    font-size: 40px;
    text-decoration:  none;
}

.header-buttons {
    margin-left:auto;
    padding:45px 0 0 0;
    margin-right: 30px;
}

.header-buttons a {
    color: white;
    text-decoration:  none;
}